body{
    margin: 0;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
margin: 5px;
display: inline-block;
}

#userNameShow{
    /* text-align: end;
    justify-content: end; */
    align-items: end;
    /* float: right; */
    display: inline-block;
    font-size: 20px;
    color: brown;
    
}
input{
    padding: 5px;
    margin: 10px;
    display: flex;
}

button{
    padding: 5px;
    margin: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}